$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$grid-columns:              16;
$grid-gutter-width:         10px;

$round-width: 120px;
$match-height: 80px;



// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        xmax-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



#loadTourneyList li>div { padding: 5px 10px; }
#loadTourneyList a.loadTournament { xfloat:left; }
#loadTourneyList a.removeTournament { float:right; }







#setup { display:none; }
#bracket { display:none; }


/*
#bracket[data-size="8"] { width: 100%; }
#bracket[data-size="16"] { width: 150%; }
#bracket[data-size="32"] { width: 200%; }


#bracket[data-size="2"] .round-1 .match { @include make-sm-column(16); }

#bracket[data-size="4"] .round-1 .match { @include make-sm-column(8); }
#bracket[data-size="4"] .round-2 .match { @include make-sm-column(16); }

#bracket[data-size="8"] .round-1 .match { @include make-sm-column(4); }
#bracket[data-size="8"] .round-2 .match { @include make-sm-column(8); }
#bracket[data-size="8"] .round-3 .match { @include make-sm-column(16); }

#bracket[data-size="16"] .round-1 .match { @include make-sm-column(2); }
#bracket[data-size="16"] .round-2 .match { @include make-sm-column(4); }
#bracket[data-size="16"] .round-3 .match { @include make-sm-column(8); }
#bracket[data-size="16"] .round-4 .match { @include make-sm-column(16); }


#bracket[data-size="32"] .round-1 .match { @include make-sm-column(1); }
#bracket[data-size="32"] .round-2 .match { @include make-sm-column(2); }
#bracket[data-size="32"] .round-3 .match { @include make-sm-column(4); }
#bracket[data-size="32"] .round-4 .match { @include make-sm-column(8); }
#bracket[data-size="32"] .round-5 .match { @include make-sm-column(16); }
#bracket[data-size="32"] .round-6 .match { @include make-sm-column(16); }
*/


.round {
    padding-bottom: 5px;
    width: $round-width;
    float:left;
    position:relative;
}

#bracket[data-size="2"] .round { width: 50%; }
#bracket[data-size="4"] .round { width: 33%; }
#bracket[data-size="8"] .round { width: 25%; }
#bracket[data-size="16"] .round { width: 20%; }
#bracket[data-size="32"] .round { width: 16.6%; }

.match {
    float:left;
    width: 100%;
    position:relative;
    height: $match-height;
}

.team {
    text-align: center;
    height: $match-height / 2;

    height: 50%;
    border: 1px solid white;
    position: absolute;
    width: 100%;
}
.team:nth-child(1) { top: 0px; }
.team:nth-child(2) { bottom: 0px; }

.team.active {
    border: 1px solid #c0c0c0;
    background-color: #999;
}

#bracket[data-size="2"] .round-championship { height: $match-height; }
#bracket[data-size="4"] .round-championship { height: $match-height * 2; }
#bracket[data-size="8"] .round-championship { height: $match-height * 4; }
#bracket[data-size="16"] .round-championship { height: $match-height * 8; }
#bracket[data-size="32"] .round-championship { height: $match-height * 16; }

.round-championship {
    .team {
        height: 100%;
        width: 100%;
    }
}

.versus {
    font-size: 9px;
    width: 20px;
    height: 20px;
    padding-top: 4px;

    background: #dfdfdf;
    text-align: center;
    float: left;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    border: 1px solid white;
}

.round-2 .match {
    height: (($match-height * 2));
    margin: 0px;
}
.round-3 .match {
    height: (($match-height * 4));
    margin: 0px;
}

.round-4 .match {
    height: (($match-height * 8));
    margin: 0px;
}
.round-5 .match {
    height: (($match-height * 16));
    margin: 0px;
}
.round-6 .match {
    height: (($match-height * 32));
    margin: 0px;
}

.team div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.team { background-color: #c0c0c0; }
/*
.team-0 { background-color: #F7F1DF; }
.team-1 { background-color: #9BC4E5; }
.team-2 { background-color: #ECEABE; }
.team-3 { background-color: #C5E384; }
.team-4 { background-color: #FEFB0A; }
.team-5 { background-color: #FB5514; }
.team-6 { background-color: #E115C0; }
.team-7 { background-color: #DD9475; }
.team-8 { background-color: #0BC582; }
.team-9 { background-color: #FEB8C8; }
.team-10 { background-color: #9E8317; }
.team-11 { background-color: #FB6AB8; }
.team-12 { background-color: #847D81; }
.team-13 { background-color: #FDDB6D; }
.team-14 { background-color: #FC2847; }
.team-15 { background-color: #1DACD6; }
.team-16 { background-color: #F7F1DF; }
.team-17 { background-color: #9BC4E5; }
.team-18 { background-color: #ECEABE; }
.team-19 { background-color: #C5E384; }
.team-20 { background-color: #FEFB0A; }
.team-21 { background-color: #FB5514; }
.team-22 { background-color: #E115C0; }
.team-23 { background-color: #DD9475; }
.team-24 { background-color: #0BC582; }
.team-25 { background-color: #FEB8C8; }
.team-26 { background-color: #9E8317; }
.team-27 { background-color: #FB6AB8; }
.team-28 { background-color: #847D81; }
.team-29 { background-color: #FDDB6D; }
.team-30 { background-color: #FC2847; }
.team-31 { background-color: #1DACD6; }
.team-32 { background-color: #F7F1DF; }
*/